<br />
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 class="text-center">
        Tableau de bord des administrateurs
      </h1>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<br />
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <app-logo-gest-admin></app-logo-gest-admin>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <app-logo-gest-ip></app-logo-gest-ip>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>


<!-- <div *ngIf="isLoggedIn">
  <button class="btn btn-danger" (click)="onLogout()">Déconnexion</button>
</div> -->