<div class="jumbotron text-center">
    <h2 class="display-3 text-white">
        BIENVENUE
    </h2>
    <p class="lead mt-4">
        Si vous êtes ici, ce n'est surement pas par hasard... Vous recherchez surement un paysage ou une activité à
        couper le souffle?
    </p>
    <small class="lead mt-4">
        Randonnez-vous en terrain connu! ... peut être nos chemins se croiseront ?!
    </small>
    <p>
        <app-login></app-login>
    </p>

    <a title="compteur de visite"><img style="margin-top: 10px;"
            src="https://counter10.stat.ovh/private/compteurdevisite.php?c=c23lyk2nefrsmhsmxzezgze97d6yntxq" border="1"
            title="compteur de visite" alt="compteur de visite"></a>
</div>